int x = statically type

x= dynamically type

(python is a dynamic type)

list(1,2,3,4)

functional program:

add(2,3)

the above functions takes two numbers and adds then its does not do anything its self

procedure programming:

a type of programming where the code follows a structural path






There are two types of programming languages:

high level language:

language that are easy for people to read and write

low level language:

language that are closer to machine code and gives the programmer access over hardware and memory managment.





Garbage collection = automatic data save huniinotes.txt
